---
import { Image } from "astro:assets";
import { ImageMetadata } from "astro";

import custom from "../../public/projects/custom/logo.png";
import debug from "../../public/projects/debugger/logo.png";
import medical from "../../public/projects/medical/logo.png";
import searcher from "../../public/projects/searcher/logo.png";


interface Project {
  title: string;
  image: ImageMetadata;
  preview: string;
  status: string;
  description: string;
  technologies: string[];
  link?: string;
}

const projects: Project[] = [
  {
    title: "Medical Writing Assistant",
    image: medical as ImageMetadata,
    preview:
      "https://github.com/aardoiz/aardoiz.github.io/tree/main/public/medical_writing",
    status: "Client",
    description:
      "This product helps medical professionals write documents by leveraging papers from the PubMed Portal. It uses QdrantDB to index medical paper data, ensuring accuracy and relevance. The entire application is Dockerized, making it easy to deploy online. It handles both single requests and features a multi-turn chat mode. A key feature is its ability to cite all data sources, which helps avoid AI hallucinations and provides reliable, verifiable information. The system uses a multi-agent workflow to ensure a comprehensive and accurate response.",
    technologies: [
      "LLMs",
      "Medical AI",
      "Agentic AI",
      "Streamlit",
      "Qdrant",
      "OpenAI",
    ],
  },
  {
    title: "Custom day-to-day assistant",
    image: custom as ImageMetadata,
    preview:
      "https://github.com/aardoiz/aardoiz.github.io/tree/main/public/custom_assistant",
    status: "Personal",
    description:
      "My custom day-to-day application to organize my daily tasks and workflow. A complex MCP-based client that connects many functionalities as MCP Servers (Azure DevOps, Github, ArxivAPI, Web Fetcher) and sends daily reminders of state of work & alerts via Telegram to my work phone. It also features memory and storage systems (MongoDB) to save and improve the queries.",
    technologies: ["MCP", "Agentic AI", "MongoDB", "OpenAI", "FastAPI"],
  },
  {
    title: "Improved Document Search and Recommendation System",
    image: searcher as ImageMetadata,
    preview:
      "https://github.com/aardoiz/aardoiz.github.io/tree/main/public/document_searcher",
    status: "Client",
    description:
      "A multimodal Search Engine in-domain to help users improving the queries using the latest AI Information Retrieval techniques. Uses re-ranking and double sparse & dense information retrieval algorithms. Also the system has a custom implementation of HyDE techniques.",
    technologies: [
      "Search Engine",
      "Embeddings",
      "HyDE",
      "CosmosDB",
      "AzureAISearch",
      "Agentic AI",
      "VLM",
    ],
  },
  {
    title: "Custom Local AI Debugger",
    image: debug as ImageMetadata,
    preview:
      "https://github.com/aardoiz/aardoiz.github.io/tree/main/public/debugger",
    status: "Company Tool",
    description:
      "A custom debugger that enhances the developer experience with a local, privacy-preserving AI. It integrates with an MCP server to provide intelligent assistance, using on-device LLMs to analyze code, suggest fixes, and explain bugs without sending your proprietary data to external cloud services.",
    technologies: [
      "Local LLMs",
      "On-device AI",
      "Agentic AI",
      "MCP",
      "Code Generation",
    ],
  },
];
---

<section
  id="projects"
  class="py-12 border-t border-[#ffffff10] text-[var(--white)]"
>
  <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">My work</h2>
    <h3 class="text-4xl md:text-5xl font-medium mb-8">Projects</h3>

    <div class="flex flex-col gap-12">
      {
        projects.map((project) => (
          <div class="group bg-[#1414149c] rounded-2xl overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 border border-1 border-[var(--white-icon-tr)] p-6">
            <div class="mb-6">
              <Image
                src={project.image}
                alt={project.title}
                class="w-full h-64 md:h-96 object-cover rounded-xl group-hover:scale-102 transition-transform duration-300"
              />
            </div>
            <div class="flex flex-col gap-4">
              <div class="flex items-center justify-between">
                <h4 class="text-3xl font-semibold">{project.title}</h4>
                <span class="py-1 px-3 text-sm text-[var(--white-icon)] bg-[#0a0a0a] rounded-full">
                  {project.status}
                </span>
              </div>

              {/* Technologies Used Section */}
              <div class="mt-2">
                <h5 class="text-lg font-medium text-[var(--white)] mb-2">
                  Tags:
                </h5>
                <div class="flex flex-wrap gap-2">
                  {project.technologies.map((tech) => (
                    <span class="px-3 py-1 bg-[var(--white-icon-tr)] text-xs text-[var(--white)] rounded-full">
                      {tech}
                    </span>
                  ))}
                </div>
              </div>

              <p class="text-md text-[var(--white-icon)] leading-relaxed">
                {project.description}
              </p>
              <div class="flex gap-4 mt-4">
                {/* Check if project.link exists before rendering */}
                {project.link && (
                  <a
                    target="_blank"
                    href={project.link}
                    aria-label="GitHub"
                    class="flex items-center gap-2 text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-full bg-[#1414149c] hover:bg-[var(--white-icon-tr)] hover:scale-105"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      fill="currentColor"
                      class="size-6"
                    >
                      <path d="M24 12L18.3431 17.6569L16.9289 16.2426L21.1716 12L16.9289 7.75736L18.3431 6.34315L24 12ZM2.82843 12L7.07107 16.2426L5.65685 17.6569L0 12L5.65685 6.34315L7.07107 7.75736L2.82843 12ZM9.78845 21H7.66009L14.2116 3H16.3399L9.78845 21Z" />
                    </svg>
                    <span class="hidden sm:inline">GitHub</span>
                  </a>
                )}
                <a
                  target="_blank"
                  href={project.preview}
                  aria-label="Preview"
                  class="flex items-center gap-2 text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] p-3 rounded-full bg-[#1414149c] hover:bg-[var(--white-icon-tr)] hover:scale-105"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-6"
                  >
                    <path d="M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z" />
                  </svg>
                  <span class="hidden sm:inline">More Details</span>
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
